/GSCCCA.ImageAPI.Client/bin
/GSCCCA.ImageAPI.Client/obj
/GSCCCA.ImageAPI.TestProgram.Core/bin
/GSCCCA.ImageAPI.TestProgram.Core/obj
/GSCCCA.ImageAPI.TestProgram.Framework/bin
/GSCCCA.ImageAPI.TestProgram.Framework/obj
/packages
/.vs/ImageAPI-SDK/DesignTimeBuild/.dtbcache.v2
/.vs/ImageAPI-SDK/v16/.suo
/.idea/.idea.ImageAPI-SDK/.idea/.gitignore
/.idea/.idea.ImageAPI-SDK/.idea/encodings.xml
/.idea/.idea.ImageAPI-SDK/.idea/indexLayout.xml
/.idea/.idea.ImageAPI-SDK/.idea/vcs.xml
/.vs/ImageAPI-SDK/config/applicationhost.config
/.vs/ImageAPI-SDK/FileContentIndex/3e4dcbe7-6fb8-4930-85e4-d8b972f4e69d.vsidx
/.vs/ImageAPI-SDK/v17/.futdcache.v2
/.vs/ImageAPI-SDK/v17/.suo
/.vs/ImageAPI-SDK/v17/DocumentLayout.backup.json
/.vs/ImageAPI-SDK/v17/DocumentLayout.json
/.vs/ProjectEvaluation/imageapi-sdk.metadata.v9.bin
/.vs/ProjectEvaluation/imageapi-sdk.projects.v9.bin
/.vs/ProjectEvaluation/imageapi-sdk.strings.v9.bin
/GSCCCA.ImageAPI.Client/GSCCCA.ImageAPI.Client.csproj.user
/GSCCCA.ImageAPI.Client/Properties/PublishProfiles/FolderProfile.pubxml
/GSCCCA.ImageAPI.Client/Properties/PublishProfiles/FolderProfile.pubxml.user
/ImageAPI-SDK.sln.DotSettings.user
*.vsidx
